.image-section-container {
	/* margin: 3.5rem 0; */

	width: 100%;
}
.image-display {
	margin: 3.5rem auto 0;
	align-content: center;
	height: 200px;
	width: 75%;
	border: solid 1px black;
}

.image-display Button {
	margin: 3.5rem auto 0;
	align-content: center;
	height: 200px;
	width: 75%;
	border: solid 1px black;
}

.upload-btn {
	margin-bottom: 10px;
}
