.header-container {
    top: 0;
    left: 0;
    position: relative;
    width: 100vw;
    min-height: 40vh;
    background-image: url(../../pages/Landing/assets/backdrop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -100;
    /* overflow: hidden; */
    /* outline: 5px solid firebrick; */
}

img {
    width: 100%;
}

.logo {
    width: 140px;
}

.nav {
    max-width: 91rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: firebrick; */
}

.link{
    font-weight: 500;
    cursor: pointer;
}

.advertisement {
    max-width: 91rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    outline: 5px solid black;
    margin-top: 50px;
    padding: 20px 0 20px;
    
}

.search-bar {
    width: 50%;
}